<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Cancelamento Solicitacao Segurado">
    <classes>
      <class name="br.com.testfilipe.test.arquivos.TestCancSolicSegurado"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="1" name="Adesao">
    <classes>
      <class name="br.com.testfilipe.test.arquivos.TestAdesao"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
